body {
    font-family: sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

header,
footer {
    text-align: center;
    margin-bottom: 20px;
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

fieldset {
    margin-bottom: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 1rem;
}

legend {
    padding: 0 0.5rem;
    color: #445ba9;
    font-weight: bold;
    font-size: 1.2rem;
}

.form-item {
    display: grid;
    align-items: center;
    margin-bottom: 1rem;
}

.column1 {
    grid-template-columns: 3fr 1fr;
}

.column2 {
    grid-template-columns: 1fr 2fr;
}

input[type="text"],
input[type="email"],
select,
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #999;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
    margin-top: 5px;
}

button {
    display: block;
    width: 100%;
    padding: 1rem;
    background-color: #445ba9;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 700;
}

button:hover {
    background-color: #30407a;
}