.callout {
    box-sizing: border-box;
    max-width: 500px;
    color: white;
    margin: 10px;
    border: 1px solid rgb(0, 0, 0 / 10%);
    padding: 15px;
    background-color: #20407a;
}

.callout img {
    float: right;
    width: 150px;
    height: auto;
    margin: 10px;
    border: 1px solid black;
    padding: 5px;
    background-color: aliceblue;
}

blockquote {
    margin: 10px;
}

cite {
    display: block;
    border-top: 1px solid white;
    padding-top: 5px;
    text-align: right;
    font-size: small;
}